@import url('https://fonts.googleapis.com/css2?family=Playball&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #111111;
}
.logo{
    width: 100px;
    height: 100px;
}
header{
    background-color: #111111;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    margin: auto;
    ul{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8%;
    }
    li{
        color: white;
        font-family: playfair display;
    }
    a{
        text-decoration: none;
    }
    .connection-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        #login{
            border: none;
            background-color: transparent;
            font-family: playfair display;
            color: white;
            padding: 16px;
            font-weight: 700;
            transition: 0.5s all;
            cursor:pointer;
        }
        #signup{
            background-color: white;
            border-radius: 50px;
            color: #262626;
            font-family: playfair display;
            padding: 16px;
            border: none;
            font-weight: 700;
            transition: 0.5s all;
            cursor: pointer;
            &:hover{
                background-color:rgb(229, 229, 229) ;
            }
        }
    }
}
.popular-articles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: max-content;
    margin: auto;
    margin-top: 64px;
    width: 90%;
    row-gap: 88px;
    h1{
        width: 100%;
        color: white;
        font-family: playfair display;
    }
    .hero{
        cursor: pointer;
        padding: 4px;
        border-radius: 12px;
        width: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        position: relative;
        // background-color: #eaeaea;
        button{
            border: none;
            background-color: transparent;
            color: #FFC067  ;
            font-family: roboto;
            border-bottom: 1px solid #FFC067;
            cursor: pointer;
            position: absolute;
            right: 8px;
            bottom: 4px;
        }h1{
            margin-top: 18px;
            margin-bottom: 18px;
            font-family: playfair display;
        }
    }

    .side-articles{
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .popular-grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;
            width: max-content;
        }
        .details{
            display: flex;
            width: 400px;
            justify-content: space-between;
            height: max-content;
            align-items: start;
            background-color: #111111;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: 1px solid white;
            cursor: pointer;
            p{
                color: white;
                margin-top: 8px;
                margin-left: 10px;
                font-family: playfair display;
            }
            .article-poster{
                width: 100px;
                height: 100px;
                margin-left: 8px;
                border-top-right-radius: 8px;
            }
        }
        .popular-article{
            margin-bottom: 8px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-bottom: 1px solid #111111;
            height:max-content;
            position: relative;
            .writer{
                scale: 0.9;
                display: flex;
                align-items: center;
                width: max-content;
                p{
                    color: #111111;
                }
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 10;
}
.welcomemsg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginn{
    margin: auto;
    width: 400px;
    height: 350px;
    padding: 24px;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background-color:#262626;
    display: none;

    h1{
        color: white;
        width: max-content;
        border-bottom: 1px solid white;
    }
    form{
        margin-top: 20px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        input{
            &::placeholder{
                color: hsl(0, 0%, 80%);
            }
            background-color: transparent;
            border: none;
            border-bottom: 1px solid hsl(0, 0%, 80%);
            padding: 8px;
            margin-top: 12px;
            color: white;
            width: 100%;
            outline: none;
            
        }
    }
    button{
        color: white;
        background-color: rgba(0, 0, 0, 0.577);
        border: 1px solid white;
        border-radius: 10px;
        padding: 12px;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.4s all;
        &:hover{
            background-color: rgba(0, 0, 0, 0.277);
        }
    }
    h5{
        margin-top: 18px;
        color: white;
        font-family: sans-serif;
        scale: 0.9;
        span{
            color: #FFC067;
            border-bottom: 1px solid #FFC067;
            cursor: pointer;
        }
    }
}

.signupp{
    margin: auto;
    width: 400px;
    height: 350px;
    padding: 24px;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background-color:#262626;
    display: none;

    h1{
        color: white;
        width: max-content;
        border-bottom: 1px solid white;
    }
    form{
        margin-top: 20px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        input{
            &::placeholder{
                color: hsl(0, 0%, 80%);
            }
            background-color: transparent;
            border: none;
            border-bottom: 1px solid hsl(0, 0%, 80%);
            padding: 8px;
            margin-top: 12px;
            color: white;
            width: 100%;
            outline: none;
        }
    }
    button{
        color: white;
        background-color: rgba(0, 0, 0, 0.577);
        border: 1px solid white;
        border-radius: 10px;
        padding: 12px;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.4s all;
        &:hover{
            background-color: rgba(0, 0, 0, 0.277);
        }
    }
    h5{
        margin-top: 18px;
        color: white;
        font-family: sans-serif;
        scale: 0.9;
        span{
            color: #FFC067;
            border-bottom: 1px solid #FFC067;
            cursor: pointer;
        }
    }
}
.togglevis{
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
#vis{
    display: block;
    display: none;
}
#invis{
    display: block;
}
#log-out{
    background-color: #daa458;
    border-radius: 50px;
    color: white;
    font-family: playfair display;
    padding: 16px;
    border: none;
    font-weight: 700;
    transition: 0.5s all;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wlc{
    width: max-content;
    margin: auto;
    color: #FFC067;
    border-bottom: 1px solid #FFC067;
    margin-top: 8px;
}

.mainsec{
    width: 100%;
    display: flex!important;
    justify-content:space-around;
    align-items: center;
    margin-top: 64px;
    .side{
        width: max-content;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        overflow: scroll;
        overflow-x: hidden;
        max-height: 450px;
        row-gap: 4px;
        background-color: #262626;
        padding: 12px;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .details{
        display: grid;
        display: flex;
        width: 400px;
        transition: 0.5s all ease-in-out;
        background-color: #111111;
        border-bottom: 1px solid white;
        position: relative;
        border-radius: 8px;
        p{
            color: white;
            font-family: playfair display;
        }
        .comment{
            position: absolute;
            bottom: 4px;
            right: 48px;
            color: white;
        }
        .views{
            position: absolute;
            bottom: 4px;
            right: 150px;
            color: white;
        }
        .article-poster{
            width: 130px;
            height: 130px; 
            margin-right: 8px;
            display: block;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
    }
    .popular-article{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height:130px;
        position: relative;
    }
    .content-form{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
        padding: 8px;
        background-color: transparent;
        color: white;
        textarea{
            width: 100%;
            resize: none;
            outline: none;
            min-height: 300px;
            background-color: transparent;
            color: white;
            font-family: roboto;
            padding: 12px;
            border: none;
            &::-webkit-scrollbar{
                display: none;
            }
        }#title{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: white;
            font-family: roboto!important;
            padding: 8px;
            background-color: transparent;
            width: 100%;
            outline: none;
            border: none;
            font-size: 16px;
            font-family: playfair display;
            // border: 1px solid gray;
            font-weight: 600;
        }
        #submit-article{
            background-color: #FFC067;
            color: black;
            width: 100%;
            padding: 8px;
            border: 1px solid gray;
            font-family: roboto;
            border-radius: 8px;
            margin-top: 4px;
            cursor: pointer;
        }
        #ilu{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            color: white;
            font-family: roboto;
            border: none;
            padding: 8px;
            background-color: transparent;
            width: 100%;
            outline: none;
            border: none;
            font-size: 16px;
            text-align: center;
            font-family: playfair display;
            // border: 1px solid gray;
            border-top: none;
        }
        
    }
}
.homeposter1{
    max-width: 600px;
    min-height: 500px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 1px 1px 10px #FFC067;
}
.c{
    border: none;
    background-color: transparent;
    color: #FFC067  ;
    font-family: roboto;
    border-bottom: 1px solid #FFC067;
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 4px;
    width: max-content;
    position: absolute;
    bottom: 8px;
    left: 10px;
}
.total{
    height: 100vh;
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    align-items: center;
    .the-article{
        width: 70%;
        display: flex;
        height: min-content;
        justify-content: center;
        align-items: start;
        overflow: hidden;
        column-gap: 4%;
        position: relative;
        border-bottom: 1px solid rgb(79, 79, 79);
        h1{
            color: #FFC067;
            border-bottom: 1px solid #FFC067;
        }
        p{
            margin-top: 12px;
            color: white;
            font-family: playfair display;
        }
        img{
           max-width: 350px;
           border-radius: 4px;
        }
        button{
            border: none;
            background-color: transparent;
            color: #FFC067  ;
            font-family: roboto;
            border-bottom: 1px solid #FFC067;
            cursor: pointer;
            width: max-content;
            margin-top: 12px    ;
        }

    }
}

