@import url("https://fonts.googleapis.com/css2?family=Playball&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #111111;
}

.logo {
  width: 100px;
  height: 100px;
}

header {
  background-color: #111111;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
  margin: auto;
}
header ul {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8%;
       column-gap: 8%;
}
header li {
  color: white;
  font-family: playfair display;
}
header a {
  text-decoration: none;
}
header .connection-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .connection-buttons #login {
  border: none;
  background-color: transparent;
  font-family: playfair display;
  color: white;
  padding: 16px;
  font-weight: 700;
  transition: 0.5s all;
  cursor: pointer;
}
header .connection-buttons #signup {
  background-color: white;
  border-radius: 50px;
  color: #262626;
  font-family: playfair display;
  padding: 16px;
  border: none;
  font-weight: 700;
  transition: 0.5s all;
  cursor: pointer;
}
header .connection-buttons #signup:hover {
  background-color: rgb(229, 229, 229);
}

.popular-articles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  margin-top: 64px;
  width: 90%;
  row-gap: 88px;
}
.popular-articles h1 {
  width: 100%;
  color: white;
  font-family: playfair display;
}
.popular-articles .hero {
  cursor: pointer;
  padding: 4px;
  border-radius: 12px;
  width: -moz-min-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  position: relative;
}
.popular-articles .hero button {
  border: none;
  background-color: transparent;
  color: #FFC067;
  font-family: roboto;
  border-bottom: 1px solid #FFC067;
  cursor: pointer;
  position: absolute;
  right: 8px;
  bottom: 4px;
}
.popular-articles .hero h1 {
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: playfair display;
}
.popular-articles .side-articles {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popular-articles .side-articles .popular-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
.popular-articles .side-articles .details {
  display: flex;
  width: 400px;
  justify-content: space-between;
  height: -moz-max-content;
  height: max-content;
  align-items: start;
  background-color: #111111;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.popular-articles .side-articles .details p {
  color: white;
  margin-top: 8px;
  margin-left: 10px;
  font-family: playfair display;
}
.popular-articles .side-articles .details .article-poster {
  width: 100px;
  height: 100px;
  margin-left: 8px;
  border-top-right-radius: 8px;
}
.popular-articles .side-articles .popular-article {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #111111;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
.popular-articles .side-articles .popular-article .writer {
  scale: 0.9;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 0;
}
.popular-articles .side-articles .popular-article .writer p {
  color: #111111;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 10;
}

.welcomemsg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginn {
  margin: auto;
  width: 400px;
  height: 350px;
  padding: 24px;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #262626;
  display: none;
}
.loginn h1 {
  color: white;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 1px solid white;
}
.loginn form {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginn form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding: 8px;
  margin-top: 12px;
  color: white;
  width: 100%;
  outline: none;
}
.loginn form input::-moz-placeholder {
  color: hsl(0, 0%, 80%);
}
.loginn form input::placeholder {
  color: hsl(0, 0%, 80%);
}
.loginn button {
  color: white;
  background-color: rgba(0, 0, 0, 0.577);
  border: 1px solid white;
  border-radius: 10px;
  padding: 12px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s all;
}
.loginn button:hover {
  background-color: rgba(0, 0, 0, 0.277);
}
.loginn h5 {
  margin-top: 18px;
  color: white;
  font-family: sans-serif;
  scale: 0.9;
}
.loginn h5 span {
  color: #FFC067;
  border-bottom: 1px solid #FFC067;
  cursor: pointer;
}

.signupp {
  margin: auto;
  width: 400px;
  height: 350px;
  padding: 24px;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #262626;
  display: none;
}
.signupp h1 {
  color: white;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 1px solid white;
}
.signupp form {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signupp form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding: 8px;
  margin-top: 12px;
  color: white;
  width: 100%;
  outline: none;
}
.signupp form input::-moz-placeholder {
  color: hsl(0, 0%, 80%);
}
.signupp form input::placeholder {
  color: hsl(0, 0%, 80%);
}
.signupp button {
  color: white;
  background-color: rgba(0, 0, 0, 0.577);
  border: 1px solid white;
  border-radius: 10px;
  padding: 12px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s all;
}
.signupp button:hover {
  background-color: rgba(0, 0, 0, 0.277);
}
.signupp h5 {
  margin-top: 18px;
  color: white;
  font-family: sans-serif;
  scale: 0.9;
}
.signupp h5 span {
  color: #FFC067;
  border-bottom: 1px solid #FFC067;
  cursor: pointer;
}

.togglevis {
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

#vis {
  display: block;
  display: none;
}

#invis {
  display: block;
}

#log-out {
  background-color: #daa458;
  border-radius: 50px;
  color: white;
  font-family: playfair display;
  padding: 16px;
  border: none;
  font-weight: 700;
  transition: 0.5s all;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wlc {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  color: #FFC067;
  border-bottom: 1px solid #FFC067;
  margin-top: 8px;
}

.mainsec {
  width: 100%;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  margin-top: 64px;
}
.mainsec .side {
  width: -moz-max-content;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 450px;
  row-gap: 4px;
  background-color: #262626;
  padding: 12px;
}
.mainsec .side::-webkit-scrollbar {
  display: none;
}
.mainsec .details {
  display: grid;
  display: flex;
  width: 400px;
  transition: 0.5s all ease-in-out;
  background-color: #111111;
  border-bottom: 1px solid white;
  position: relative;
  border-radius: 8px;
}
.mainsec .details p {
  color: white;
  font-family: playfair display;
}
.mainsec .details .comment {
  position: absolute;
  bottom: 4px;
  right: 48px;
  color: white;
}
.mainsec .details .views {
  position: absolute;
  bottom: 4px;
  right: 150px;
  color: white;
}
.mainsec .details .article-poster {
  width: 130px;
  height: 130px;
  margin-right: 8px;
  display: block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.mainsec .popular-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 130px;
  position: relative;
}
.mainsec .content-form {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 8px;
  background-color: transparent;
  color: white;
}
.mainsec .content-form textarea {
  width: 100%;
  resize: none;
  outline: none;
  min-height: 300px;
  background-color: transparent;
  color: white;
  font-family: roboto;
  padding: 12px;
  border: none;
}
.mainsec .content-form textarea::-webkit-scrollbar {
  display: none;
}
.mainsec .content-form #title {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  font-family: roboto !important;
  padding: 8px;
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: playfair display;
  font-weight: 600;
}
.mainsec .content-form #submit-article {
  background-color: #FFC067;
  color: black;
  width: 100%;
  padding: 8px;
  border: 1px solid gray;
  font-family: roboto;
  border-radius: 8px;
  margin-top: 4px;
  cursor: pointer;
}
.mainsec .content-form #ilu {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  font-family: roboto;
  border: none;
  padding: 8px;
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  text-align: center;
  font-family: playfair display;
  border-top: none;
}

.homeposter1 {
  max-width: 600px;
  min-height: 500px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 1px 1px 10px #FFC067;
}

.c {
  border: none;
  background-color: transparent;
  color: #FFC067;
  font-family: roboto;
  border-bottom: 1px solid #FFC067;
  cursor: pointer;
  position: absolute;
  right: 8px;
  bottom: 4px;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 8px;
  left: 10px;
}

.total {
  height: 100vh;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.total .the-article {
  width: 70%;
  display: flex;
  height: -moz-min-content;
  height: min-content;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  -moz-column-gap: 4%;
       column-gap: 4%;
  position: relative;
  border-bottom: 1px solid rgb(79, 79, 79);
}
.total .the-article h1 {
  color: #FFC067;
  border-bottom: 1px solid #FFC067;
}
.total .the-article p {
  margin-top: 12px;
  color: white;
  font-family: playfair display;
}
.total .the-article img {
  max-width: 350px;
  border-radius: 4px;
}
.total .the-article button {
  border: none;
  background-color: transparent;
  color: #FFC067;
  font-family: roboto;
  border-bottom: 1px solid #FFC067;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  margin-top: 12px;
}/*# sourceMappingURL=style.css.map */